{
  "env": {
    "browser": true,
    "mocha": true,
    "es2021": true,
    "truffle/globals": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "chai-friendly"],
  "rules": {}
}
